.grid1{
    width:4%;
    background:#2F454E;
    height:50px;
    font-size:30px;
    color:#2F454E;
    float:left;
    
}
.grid2{
    width:4%;
    background:#2B8EAD;
    height:50px;
    font-size:30px;
    color:#2B8EAD;
    float:left;
}
.grid3{
    width:4%;
    background: #333333 ;
    height:50px;
    font-size:30px;
    color: #333333 ;
    float:left;
}
.grid4{
    width:4%;
    background:#2B8EAD;
    position: relative;
    height:50px;
    font-size:30px;
    color:#2B8EAD;
    float:left;
}
.grid5{
    width:4%;
    background: #333333 ;
    height:50px;
    font-size:30px;
    color: #333333 ;
    float:left;
}
.grid6{
    width:4%;
    background: #2F454E;
    height:50px;
    font-size:30px;
    color: #2F454E;
    float:left;
}
.grid7{
    width:4%;
    background:#BFBFBF;
    height:50px;
    font-size:30px;
    color:#BFBFBF;
    float:left;
}
.grid8{
    width:4%;
    background:#2F454E;
    height:50px;
    font-size:30px;
    color:#2F454E;
    float:left;
}
.grid9{
    width:4%;
    background:#333333;
    height:50px;
    font-size:30px;
    color:#333333;
    float:left;
}
.spanText{
    background:#BFBFBF;
    font-size:30px;
    width:80%;
    height:50px;
    margin-top:20px;
}
.divbg{
    background:white;
    width:100%;
}
.shuffle{
    margin-left:5px;
    border-radius: 10px;
    width:80px;
    height:40px;
    background:#2B8EAD;
}
.sort{
    margin-left:5px;
    border-radius: 10px;
    width:80px;
    height:40px;
    background:#2B8EAD;
    margin-top:10px
}