.grid1{
    width:27%;
    background:#2F454E;
    float:left;
    height:200px;
}
.grid2{
    width:27%;
    background:#2B8EAD;
    float:left;
    height:200px;
}
.grid3{
    width:27%;
    background: #333333 ;
    float:left;
    height:200px;
}
.grid4{
    width:27%;
    background:#2B8EAD;
    position: relative;
    float:left;
    height:200px;
}
.grid5{
    width:27%;
    background: #333333 ;
    position: relative;
    float:left;
    height:200px;
}
.grid6{
    width:27%;
    background: #BFBFBF;
    position: relative;
    float:left;
    height:200px;
}
.grid7{
    width:27%;
    background:#BFBFBF;
    float:left;
    height:200px;
}
.grid8{
    width:27%;
    background:#2F454E;
    float:left;
    height:200px;
}
.grid9{
    width:27%;
    background:#333333;
    float:left;
    height:200px;
}
.spanText{
    color:white;
    font-size:60px;
    text-align: center;
    margin-top:20px
}
.shuffle{
    margin-left:5px;
    border-radius: 10px;
    width:80px;
    height:40px;
    background:#2B8EAD;
}
.sort{
    margin-left:5px;
    border-radius: 10px;
    width:80px;
    height:40px;
    background:#2B8EAD;
    margin-top:10px
}